.App {
  text-align: center;
  height: 100vh;
}

/* Input */

.input-field {
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 25px;
  padding: 10px;
  margin: 3rem;
  border: none;
}

.btn {
  border: 0px;
  font-size: x-large;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

/* Card */
.card {
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  margin: 2rem;
}
